body{
    background-color: rgb(205, 245, 255);
    font-family: 'Della Respira', serif, Arial, Helvetica, sans-serif;
    background: linear-gradient(180deg, rgb(205, 245, 255) 0%, rgba(205, 245, 255,1) 100%);
}
h1{
    text-align: center;
    font-family: 'Libre Baskerville', serif,Arial, Helvetica, sans-serif;
    color: black;
}
h2 {
    text-align: center;
    font-family: 'Libre Baskerville', serif,Arial, Helvetica, sans-serif;
    color: black;
}

h3 {
    text-align: center;
    color: black;
}

h4 {
    text-align: justify;
    color: black;
    text-indent: 60px
}

h5{
    text-align: center;
    color: black;
}


hr{
    color: rgb(41, 106, 122);
    background-color: rgb(26, 85, 100);
    opacity: 75%;
    height:2px;
    border-width:0;
}

/* button */

.button{
    background-color: rgb(240, 252, 255);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: fixed;
    z-index: 999;
    width: 100%;
    font-family: 'Libre Baskerville', serif,Arial, Helvetica, sans-serif;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-left: -7px;
    margin-top: -9px;
}

#top{
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    text-decoration: none;
    color: #333;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
}
  
#top2{
    position: relative;
    z-index: 2;
}
  
#top:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: rgb(55, 138, 185);
    transition: all .35s;
    border-radius: 25px;
}
  
#top:hover{
    color: #fff;
    font-style: italic;
}
  
#top:hover:after{
    width: 100%;
}



/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

/* แนะนำตัว */

.Profile{
    width: 101%;
    height: 100%;
    display: flex;
    background-color: rgb(100, 180, 192);
    margin-left: -7px;
}

.My_pic{
    width: 400px;
    height: 100%;
    object-fit: cover;
    margin-left: 250px;
    padding-top: 150px;
    padding-bottom: 78px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px black;
}

.Profile>.left{
    width: auto;
    height: auto;
}

.Profile>.right{
    padding: 50px;
    margin: 80px;
    width: auto;
    height: auto;
}

/* สกิล */

#An{
    width: 256px;
}

#Ps{
    width: 256px;
}

#Ai{
    width: 256px;
}

#An{
    width: 256px;
}
#Web{
    width: 256px;
}
#Pr{
    width: 256px;
}

.container {
    display: flex;
    flex-flow: wrap;
    row-gap: 1rem;
    column-gap: 1rem;
    margin-left: 72px;
}

.box{
    padding: 2rem;
    border-radius: 20px;
    margin-right: 1rem;
    margin-top: 1rem;
    align-content: center;
    text-align: center;
    background-color: rgb(139, 217, 236);
}

.box1{
    padding: 2rem;
    border-radius: 20px;
    margin-right: 1rem;
    margin-top: 1rem;
    align-content: center;
    text-align: center;
    background-color: rgb(139, 217, 236);
}

/* Interested in */

.Interested{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(107, 189, 209);
}

.Inte{
    align-content: center;
    text-align: center;
}

/* Portfolio */

#WebAssign{
    text-decoration: none;
}

#WebAssign #GoWeb{
    position: relative;
    z-index: 2;
}

 #GoWeb::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    transition: all .35s;
    border-radius: 25px;
}

#GoWeb:hover{
    color: #fff;
}
      
#GoWeb:hover::before{
    width: 100%;
} 


div[class*=sub] {
    width: 25%; 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}

.sub-Portfolio { 
    background-color: #66e1f1;
    margin-left: 563px;
}

.As {
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 371px;
  cursor: pointer;
}

.Assignment{
    color: #FFF;
    transition: all 2s;
    position: relative;
}

.Assignment::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgb(139, 217, 236);
    transition: all 0.3s;
    border-radius: 25px;
}

.Assignment:hover::before {
    opacity: 0 ;
    transform: scale(0.5,0.5);
}

.Assignment::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    transform: scale(1.2,1.2);
    border-radius: 25px;
}

.Assignment:hover::after {
    opacity: 1;
    transform: scale(1,1);
}

.Submix{
    display: flex;
    flex-wrap: wrap;
    row-gap: 1rem;
    column-gap: 1rem;
    margin-left: 250px;
    padding-bottom: 40px;
}

.boxmix{
    padding: 2rem;
    border-radius: 20px;
    margin-right: 2rem;
    margin-top: 1rem;
    margin-left: 1rem;
    align-content: center;
    text-align: center;
    border: #4aa0a3;
    border-style: dotted;

}

.imgfade{
    opacity: 1;
    transition: .5s;
}

.imgfade:hover {
    opacity:0.2;
}
  
#Grap{
    height: 300px;
    width: 400px;
    border-radius: 10px;
}

#Anime{
    height: 300px;
    width: 400px;
    border-radius: 10px;
}

#UXI{
    background-color: whitesmoke;
    height: 300px;
    width: 400px;
    border-radius: 10px;
}

#VAR{
    height: 300px;
    width: 400px;
    border-radius: 10px;
}

.ShowWeb{
    text-align: center;
    margin: 50px;
}

.no-bullets{
    list-style-type: none;
}

/* contact */

.Contact{
    background-color: rgb(65, 140, 158);
    margin-top: -10px;
    margin-left: -7px;
    margin-bottom: -5px;
    height: 100%;
    width: 101%;
}

.share{
    display: flex;
    flex-wrap: wrap;
}

.Con{
    font-family: 'Libre Baskerville', serif, Arial, Helvetica, sans-serif;
    color: #3d405b;
    font-size: 50px;
    padding-left: 40px;
    padding-top: 40px;
    text-align: justify;
    margin-bottom: 0px;
}

.left_foot{
    text-align: justify;
    font-size: 15px;
}

.right_foot{
    text-align: justify;
    font-size: 15px;
}

.share>.left_foot{
    margin-left: 40px;
    margin-bottom: 60px;
}

.share>.right_foot{
    margin-left: 60px;
    margin-bottom: 60px;
}

.divide{
    color: rgb(65, 140, 158);
    background-color: rgb(65, 140, 158);
    opacity: 50%;
    height: 3px;
    width: 800px;
}

/* ทำให้ขนาดเว็บพอดีในแพลตฟอร์มต่างๆ */

@media only screen and (max-width: 768px) {
    
    .button{
        width: 100%;
    }

    .slideshow-container{
        width: 90%;
        padding-top : 50px;
        margin-left: 35px;
    }


    .Profile{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0px;
        width: 101%;
        margin-left: -4px;
    }

    #My_pic{
        margin-left: 0px;
        margin-top: 30px;
        padding-top:0px;
        padding-bottom: 0px;
    }

    .Profile>.right{
        padding: 5px;
        margin: 20px;
    }

    .container {
        margin-left: 45px;
    }

    .Interested{
        flex-direction: column;
    }

    .Wen{
        margin-right: 0px;
        margin-left: 0px;
    }

    .Submix{
        margin-left: 145px;
    }

    .boxmix{
        margin-left: 0rem;
    }

    .sub-Portfolio { 
        margin-left: 185px;
    }

    div[class*=sub] {
        width: 50%; 
    }

    ul {
        padding-inline-start: 0px;
    }

    .Contact{
        margin-left: -7px;
        margin-bottom: -7px;
        width: 102%;
    }

    .share>.left_foot{
        margin-left: 40px;
        margin-bottom: 45px;
    }

    .share>.right_foot{
        margin-left: 40px;
        margin-bottom: 45px;
    }

    .divide{
        width: 700px;
    }

}

@media only screen and (max-device-width: 500px) {

    .button{
        width: 100%;
    }
    
    .slideshow-container{
        width: 80%;
        padding-top : 70px;
        margin-left: 49px;
    }

    #Pic1,#Pic2,#Pic3{
        height: 400px;
    }

    .Profile{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 101%;
        margin-left: -2px;
    }

    #Me{
        margin-left: 0px;
        margin-top: 30px;
        padding-top:0px;
        padding-bottom: 0px;
    }

    .Profile>.right{
        padding: 5px;
        margin: 20px;
    }

    .container {
        margin-left: 85px;
    }

    #An{
        width: 252px;
    }
    
    #Ps{
        width: 252px;
    }
    
    #Au{
        width: 252px;
    }
    
    #Web{
        width: 284px;
    }

    .Interested{
        flex-direction: column;
    }

    .Wen{
        margin-right: 0px;
        margin-left: 0px;
    }

    .Submix{
        margin-left: 10px;
    }

    .boxmix{
        margin-left: 0rem;
    }

    .sub-Portfolio { 
        margin-left: 115px;
    }

    div[class*=sub] {
        width: 50%; 
    }

    ul {
        padding-inline-start: 0px;
    }

    .Contact{
        width: 103%;
    }

    .share>.left_foot{
        margin-left: 40px;
        margin-bottom: 0px;
    }

    .share>.right_foot{
        margin-left: 40px;
        margin-bottom: 45px;
    }

    .divide{
        width: 400px;
    }
}
